@font-face {
    font-family: 'Myriad Pro Bold';
    src: url('../fonts/MyriadPro-Bold.eot');
    src: url('../fonts/MyriadPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MyriadPro-Bold.woff2') format('woff2'),
        url('../fonts/MyriadPro-Bold.woff') format('woff'),
        url('../fonts/MyriadPro-Bold.ttf') format('truetype'),
        url('../fonts/MyriadPro-Bold.svg#MyriadPro-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('../fonts/MyriadPro-Regular.eot');
    src: url('../fonts/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MyriadPro-Regular.woff2') format('woff2'),
        url('../fonts/MyriadPro-Regular.woff') format('woff'),
        url('../fonts/MyriadPro-Regular.ttf') format('truetype'),
        url('../fonts/MyriadPro-Regular.svg#MyriadPro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Myriad Pro Condensed';
    src: url('../fonts/MyriadPro-Cond.eot');
    src: url('../fonts/MyriadPro-Cond.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MyriadPro-Cond.woff2') format('woff2'),
        url('../fonts/MyriadPro-Cond.woff') format('woff'),
        url('../fonts/MyriadPro-Cond.ttf') format('truetype'),
        url('../fonts/MyriadPro-Cond.svg#MyriadPro-Cond') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Myriad Pro Bold Condensed';
    src: url('../fonts/MyriadPro-BoldCond.eot');
    src: url('../fonts/MyriadPro-BoldCond.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MyriadPro-BoldCond.woff2') format('woff2'),
        url('../fonts/MyriadPro-BoldCond.woff') format('woff'),
        url('../fonts/MyriadPro-BoldCond.ttf') format('truetype'),
        url('../fonts/MyriadPro-BoldCond.svg#MyriadPro-BoldCond') format('svg');
    font-weight: bold;
    font-style: normal;
}

.clear-fix{
    clear: both;
}

/*Global font-color*/
$base-color: #6d6e71;

$mch-orange: #cd4239;

$white: #fff;

body, h1, h2, h3, h4, h5, p, ul, ol, li, table, tr, td, div{
   margin: 0;
   padding: 0;
   font-size: 16px;
   color: $base-color;
}

body{
    overflow-y: scroll;
    background-image: url('../images/watermark.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: -200px 0;
}

h1{
    font-size: 200%;
    font-family: "Myriad Pro Bold Condensed", Arial, Helvetica, sans-serif;
}

h2{
    font-size: 175%;
    font-family: "Myriad Pro Bold Condensed", Arial, Helvetica, sans-serif;
}

h3{
    font-size: 150%;
    font-family: "Myriad Pro Bold Condensed", Arial, Helvetica, sans-serif;
}

p, table, ul{
    font-family: "Myriad Pro", Arial, Helvetica, sans-serif;
}

.boldText{
    font-weight: bold;
}

table{
    border-collapse: collapse;
}

tr:nth-child(3) td, tr:nth-child(5) td{
    background-color: rgba(164, 166, 168, .3);
}

th{
    border-right: solid 1px $white;

    &:nth-child(4){
        border-right: none;
    }
}

td{
    text-align: center;
    border-right: solid 1px $mch-orange;
    border-left: solid 1px $mch-orange;
    padding: 10px 0;
    
    &:nth-child(1){
        border-left: none;
    }

    &:nth-child(4){
        border-right: none;
    }
}

th{
    background-color: $mch-orange;
    color: $white;
    padding: 5px 0;
}

ul{
   margin-left: 20px;
}

hr{
    border: solid 2px $mch-orange;
}

a.btn{
    text-decoration: none;
}

.delay{
    display: none;
}

.button{
    background-color: $mch-orange;
    color: #fff;
    font-family: 'Myriad Pro Bold', Arial, Helvetica, sans-serif;
    font-size: 100%;
    border-radius: 10px;
    padding: 5px 10px;
    width: 25%;
    text-align: center;
    margin-top: 25px;
    
    &:hover{
        -webkit-transform: scale(.95);
        -moz-transform: scale(.95);
        -ms-transform: scale(.95);
        -o-transform: scale(.95);
        transform: scale(.95);
    }
}

.mt-15{
    margin-top: -15px;
}

.mt0{
    margin-top: 0;
}

.mt5{
    margin-top: 5px;
}

.mt10{
    margin-top: 10px;
}

.mt15{
    margin-top: 15px;
}

.mt20{
    margin-top: 20px;
}

.mt25{
    margin-top: 25px;
}

.mt30{
    margin-top: 30px;
}

.mt35{
    margin-top: 35px;
}

.mt40{
    margin-top: 40px;
}

.mt45{
    margin-top: 45px;
}

.mt50{
    margin-top: 50px;
}

.mt55{
    margin-top: 55px;
}

.mt60{
    margin-top: 60px;
}

.mt75{
    margin-top: 75px;
}

.mb0{
    margin-bottom: 0;
}

.mb5{
    margin-bottom: 5px;
}

.mb10{
    margin-bottom: 10px;
}

.mb15{
    margin-bottom: 15px;
}

.mb20{
    margin-bottom: 20px;
}

.mb25{
    margin-bottom: 25px;
}

.ml40{
    margin-left: 40px;
}

.margin-fix{
    margin-top: 100px;
}

.w50-l{
    width: 48%;
    margin-right: 2%;
    float: left;
}

.w50-r{
    width: 48%;
    margin-left: 2%;
    float: left;
}

.w33-l{
    width: 31%;
    margin-right: 2%;
    float: left;
}

.w100{
    float: left;
    width: 100%;
}

.ta-center{
    text-align: center;
}


/*.w33-r{
    width: 31%;
    margin-left: 2%;
    float: left;
}*/

.tel-bar{
    width: 100%;
    height: 40px;
    background-image: url('../images/tel-bar.jpg');
    background-repeat: repeat-y;
    position: relative;
    transition: top 0.3s;

    p{
        float: right;
        color: $white;
        margin-top: 10px;
        margin-right: 5%;
    }
}

header{
    background-color: white;
    width: 100%;
    height: 140px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .5);
    position: fixed;
    z-index: 99;
    transition: top 0.3s;

    .logo{
        margin-top: 5px;
        margin-left: 5%;
    }

    .nav-toggle{
        display: none;
    }

    nav{
        float: right;
        margin-top: 75px;
        margin-right: 5%;

        h1{
            display: none;
        }
        
        ul{
            text-indent: 0;
       
            li{
                display: inline-block;
                font-family: 'Myriad Pro Bold', Arial, Helvetica, sans-serif;
                font-size: 110%;
                color: $base-color;
                margin-left: 35px;

                &:nth-child(1){
                    margin-left: 0;
                }

                a{
                    color: $base-color;
                    text-decoration: none;
                }

                a.selected{
                    color: $mch-orange;
                }
            }

        }
    }
}


/***********************************************************
Banner Section
***********************************************************/
#banner{
    margin-top: 140px;
    /*width: 100% !important;
    max-width: 2000px;*/

    .slider1{
        background-image: url('../images/hp-slider-1-bg.jpg'); 
        background-repeat: no-repeat; 
        background-size: 100%;
        
        .bannerWrapper{
            margin: 0 auto;
            width: 100%;
            max-width: 910px;//Simuluate 1200px

            .text{
                display: inline-block;
                margin-top: 50px;
                font-size: 48px;
                line-height: 1.205;
                color: #fff;
                font-family: 'Myriad Pro Condensed', Arial, Helvetica, sans-serif;
                text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.7);
            }
            
            .text__first, .text__second{
                position: relative;
            }
            
            .text__word{
                opacity: 0;
            }
            
            .text__first-bg, .text__second-bg{
                display: block;
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;
                z-index: 100;
                transform-origin: left;
                transform: scaleX(0);
            }
            
            .text__first-bg{
                background-color: $mch-orange;
            }
            
            .text__second-bg{
                background-color: $white;
            }
            
            .text__second{
                margin-left: 0;
            }
            
            .restart{
                position: absolute;
                font-size: 12px;
                bottom: 0;
                left: 0;
                right: 0;
                background-color: #fff;
                border: none;
                border-bottom: 1px dotted grey;
                padding: 0;
                margin: 0 auto 2%;
                cursor: pointer;
                color: grey;
            }
        }
    }

    .slider2{
        background-image: url('../images/hp-slider-2-bg.jpg'); 
        background-repeat: no-repeat; 
        background-size: 100%;

        .bannerWrapper{
            margin: 0 auto;
            /*width: 100%;*/
            width: 910px;//Simuluate 1200px

            .text2{
                display: block;
                margin-top: 50px;
                margin-left: -75px;
                font-size: 48px;
                line-height: 1.205;
                color: #fff;
                font-family: 'Myriad Pro Condensed', Arial, Helvetica, sans-serif;
                text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.7);
                float: right;
            }

            img.ibew{
                width: 30%;
                max-width: 300px;
                margin-top: 35px;
                float: left;
            }
        }
    }

}
/***********************************************************
Swipe Slider
************************************************************/
/* jssor slider bullet navigator skin 05 css */
        /*
        .jssorb05 div           (normal)
        .jssorb05 div:hover     (normal mouseover)
        .jssorb05 .av           (active)
        .jssorb05 .av:hover     (active mouseover)
        .jssorb05 .dn           (mousedown)
        */
        .jssorb05 {
            position: absolute;
        }
        .jssorb05 div, .jssorb05 div:hover, .jssorb05 .av {
            position: absolute;
            /* size of bullet elment */
            width: 16px;
            height: 16px;
            background: url('../images/b05.png') no-repeat;
            overflow: hidden;
            cursor: pointer;
        }
        .jssorb05 div { 
            background-position: -7px -7px;
        }
        .jssorb05 div:hover, .jssorb05 .av:hover{ 
            background-position: -37px -7px; 
        }
        .jssorb05 .av {
             background-position: -67px -7px; 
        }
        .jssorb05 .dn, .jssorb05 .dn:hover { 
            background-position: -97px -7px; 
        }

        /* jssor slider arrow navigator skin 22 css */
        /*
        .jssora22l                  (normal)
        .jssora22r                  (normal)
        .jssora22l:hover            (normal mouseover)
        .jssora22r:hover            (normal mouseover)
        .jssora22l.jssora22ldn      (mousedown)
        .jssora22r.jssora22rdn      (mousedown)
        */
        .jssora22l, .jssora22r {
            display: block;
            position: absolute;
            /* size of arrow element */
            width: 40px;
            height: 58px;
            cursor: pointer;
            background: url('../images/a22.png') center center no-repeat;
            overflow: hidden;
        }
        .jssora22l { background-position: -10px -31px; }
        .jssora22r { background-position: -70px -31px; }
        .jssora22l:hover { background-position: -130px -31px; }
        .jssora22r:hover { background-position: -190px -31px; }
        .jssora22l.jssora22ldn { background-position: -250px -31px; }
        .jssora22r.jssora22rdn { background-position: -310px -31px; }

/*****************************************************************
Mini-Banner Section
******************************************************************/
.services-banner{
    margin-top: 120px;
    padding-top: 30px;
    width: 100%;
    height: 70px;
    background-image: url('../images/services-banner-background.jpg');
    background-repeat: no-repeat;
    display: none;

    h1{
        text-align: center;
        color: $white;    
        font-family: 'Myriad Pro Bold', Arial, Helvetica, sans-serif;
        text-shadow: 3px 3px 3px rgba(0, 0, 0, .5);
    }
}

/******************************************************************
Wrapper Section
******************************************************************/

#wrapper, .wrapper{
    width: 90%;
    padding: 0 5%;
    max-width: 1200px;
    margin: 60px auto 10px;

    h2{
        background-color: $mch-orange;
        color: $white;
        padding: 5px 10px;
    }

    h3.orange{
        background-color: $mch-orange;
        color: $white;
        padding: 5px 10px;
    }



    h3.ks{
        color: $mch-orange;
        background-color: #fff;
        width: 150px;
        border: solid 2px $mch-orange;
        text-align: center;
        margin: -25px auto 0;
    }

    .w33-l, .w33-r{
        min-width: 280px;
    }

    .w50-r img, .w50-l img{
        width: 100%;
    }

    a{
        color: $mch-orange;
        font-weight: bold;
        text-decoration: none;

        &:hover{
            text-decoration: underline;
        }
    }

    .vsBtn{
        margin: 25px auto;
        /*margin-top: 25px;*/
        /*margin-left: 15%;*/
        width: 94%;
        color: $mch-orange;
        background: none;
        padding: 10px 2%;
        font-family: "Myriad Pro Bold", Arial, Helvetica, sans-serif;
        font-size: 120%;
        border: 3px solid $mch-orange;
        border-radius: 10px;
        display: inline-block;
        text-align: center;
        cursor: pointer;
        box-shadow: inset 0 0 0 0 $mch-orange;
        -webkit-transition: all ease 0.3s;
        -moz-transition: all ease 0.3s;
        transition: all ease 0.3s;
    
        &:hover{
            color: #fff;
            box-shadow: inset 400px 0 0 0 $mch-orange;		
        }
    }
    
}

.wrapper{
    margin-top: 0;

    h3{
        background-color: $mch-orange;
        color: $white;
        padding: 5px 10px;
    }
}

.caption{
	float: left;
	margin-top: 34px;
	margin-right: 0; 
	margin-left: 0;
	overflow: hidden;
	width: 100%;
	position: relative;	
}

div.divCaption{
	width: 100%;	
}

div.divCaption:nth-child(3), div.divCaption:nth-child(6){	
	margin-right: 5%;
	margin-left: 5%;
}

.caption:hover{
	cursor: pointer;	
}

img.caption_media{
	display: block;
	width: 100%;
}

.caption_overlay{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 10px;
	color: #fff;
	transform: translateY(100%);
	transition: transform .35s ease-out;	
}

.caption_overlay ul{
	margin-top: 10px;
    line-height: 1.5em;
}

.caption_overlay ul li, .caption_overlay p{
	color: #fff;
	font-size: 85%;	
    line-height: 1.5em;
    font-family: "Myriad Pro", Arial, Helvetica, sans-serif;
    font-weight: normal;
}

.caption:hover .caption_overlay{
	transform: translateY(0);	
}

.caption_overlay p.readMore{
	text-align: right;
	/*margin-top: -10px;*/
}

.caption_overlay p.readMore a{
    text-decoration: none;
    font-size: 100% !important;
}

.caption_overlay p.readMore a:hover{
	text-decoration: underline;	
}

.caption_overlay p.readMore a:active{
	color: #fff;	
}

p.caption_overlay_content{
	margin-top: 10px;
	font-size: 95%;	
}


.caption_overlay_title{
	margin-right: -20px;
	padding: 0 20px 12px 0;
	transform: translateY( calc(-100% - 10px)); /* +10px overlay padding*/
	transition: transform .35s ease-out;
	color: #fff;
	text-align: right;
	/*background-image: url(../images/caption-hTag-bg.png);
	background-repeat: no-repeat;
	background-position: 40px 0; */
}

.caption:hover .caption_overlay_title{
	transform: translateY(0);
	background-image: none;	
}

h3.titleH3{
    margin-top: 0;
    width: 100%;
	padding-top: 5px;
	font-size: 125%;
	font-family: "Myriad Pro", Arial, sans-serif;
    /*background-color: transparent;*/
    background-image: url('../images/captionTitle_bg.png');
    background-repeat: repeat-y;
    background-position: right;	
	text-shadow: 0 2px 10px #000;
}

.caption::before{
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: transparent;
	transition: background .35 ease-out;	
}

.caption:hover::before{
	background: rgba(0, 0, 0, .9);	
}

.caption{
	transform: translateZ(0);	
}

/******************************************************************
View Services Button special
******************************************************************/
@media only screen and (min-width: 701px) and (max-width: 1009px) {
    .vsBtnContainer{
        margin-top: -75px;
    }
}

/*****************************************************************
Tech Talk Section
*****************************************************************/
.ttBg{
    width: 100%;
    float: left;
    background-color: rgba(109, 110, 113, .3);
    margin-top:25px;
    margin-bottom: 40px;
    padding-bottom: 25px;

    h3{
        text-align: center;
        background-color: $white;
        color: $mch-orange;
        padding: 5px 0;
        float: left;
        width: 100%;
        margin-top: 20px;
        border-top: solid 1px rgba(109, 110, 113, .3);
        border-right: solid 1px rgba(109, 110, 113, .3);
        border-left: solid 1px rgba(109, 110, 113, .3);
        box-shadow: 0px 3px 5px rgba(0, 0, 0, .3);
    }

    .tt-left{
        background-color: $base-color;
        color: $white;
        padding: 10px 2%;
        margin-top: 20px;
        width: 44%;

        p{
            line-height: 1.4em;
            color: $white;
        }
    }

    table{
        margin-top: 20px;
        width: 100%;

        td, th{
            font-size: 100%;
        }
    }

    tbody{
        background-color: $white;
    }

}

/***************************************************************
Tech Talk Special
****************************************************************/
@media only screen and (min-width: 701px) and (max-width: 900px) {
    .ttBg{
        
        .tt-left{
            width: 96%;
        }

        .w50-r{
            width: 100%;
            margin-left: 0;
        }
    }
}

/******************************************************************
Footer Section
******************************************************************/
footer{
    background-color: $base-color;
    width: 100%;
    float: left;
    padding-bottom: 5px;

    ul{
        list-style-type: none;
        margin-left: 0;
    }

    li, p{
        color: #fff;
    }

    .copyright{
        font-size: 80%;
        margin-top: -15px;
    }

    .w50-r{
        margin-top: 70px;
    }

    .fb, .lin{
        float: right;
    }

    .fb{
        width: 14px !important;
    }

    .lin{
      width: 28px !important;
      margin-right: 12px;  
    }
}

/*****************************************************************
Contact Section
*****************************************************************/
.contactUl{
    list-style-type: none;
    margin-left: 0;
}

.map-fix{
    margin: 50px auto; 
    overflow: hidden; 
    height: 200px; 
}

iframe.google-map {
    width: 100%;
    margin: -125px auto;
    height: 450px;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%); }

.contactForm{
    font-family: 'Myriad Pro', Arial, Helvetica, sans-serif;
    padding: 0;

    fieldset{
        border: none;
        padding: 0;

        input, textarea{
            width: 98%;
            margin-top: 5px;
            margin-bottom: 25px;
            height: 20px;
            padding: 5px;
            font-family: 'Myriad Pro', Arial, Helvetica, sans-serif;
            font-size: 100%;
            border: solid 1px #cecece;
            background-color: #fff !important;
            
        }

        input:-webkit-autofill{
            transition-delay: 18000s;
        }

        input:focus:-webkit-autofill{

        }
 
        input:focus, 
        textarea:focus{
            background-color: #fff !important;
            outline: none;
            box-shadow: 3px 3px 2px rgba(0, 0, 0, .3) inset !important;
            -webkit-box-shadow: inset 0 0 0px 9999px white;
        }

        /*input:-internal-autofill-selected{
            background-color: #fff !important;
        }*/

        textarea{
            height: 200px;
        }

        button{
            width: 35% !important;
            float: right;
        }
    }
}

.contact-response{
    margin-top: 160px !important; 
    height: 70vh;
}

/********************************************
Alerts
********************************************/
.alert-success{

    h3{
        color: $mch-orange;
    }
}

.help-block{
    float: left;
    margin-top: -20px;
    margin-bottom: 20px;
    width: 100%;
    color: red;
}

.msgError{
    margin-top: 0;
    margin-bottom: 0;
}


/******************************************************************
Tablet only
******************************************************************/
@media only screen and (min-width: 701px) and (max-width: 1240px) {
    #headerWrapper{
        width: 96% !important;
    }
}



/****************************************************************
Smartphone only
****************************************************************/
@media only screen and (min-width: 300px) and (max-width: 700px) {
    
    .w50-l, .w50-r, .w33-l, .w33-r{
        width: 100%;
        float: left;
    }    

    /********************************************************
    Smartphone -  Header Section
    ********************************************************/

    .tel-bar{
        display: none;
    }

    header{
        height: 80px;
            
        .logo{
            width: 127px;
            margin-top: 2px;
        }

        .nav-toggle{
            float: right;
            margin-top: 30px;
            margin-right: 5%;
            width: 30px;
            display: block;
        }

        nav{
            display: none;
            background-color: $mch-orange;
            width: 100%;
            height: 102vh;
            position: absolute;
            top: -80px;
            z-index: 99;

            h1{
                display: block;
                float: right;
                color: $white;
                font-family: 'Myriad Pro', Arial, Helvetica, sans-serif;
                font-weight: normal;
                margin-top: 20px;
                margin-right: 20px;
            }

            ul{
                margin-top: 75px;

                li{
                    display: block;
                    color: $white;
                    font-family: 'Myriad Pro', Arial, Helvetica, sans-serif;
                    font-size: 200%;
                    text-align: center;
                    text-transform: uppercase;
                    margin-bottom: 40px;
                    margin-left: 0;

                    &:last-child{
                        margin-bottom: 0;
                    }

                    a{
                        color: $white !important;
                        text-decoration: none;
                    }
    
                    a.selected{
                        color: $white !important;
                    }
                }
                
            }
        }
    
    }

    /************************************************
    Smartphone - Banner Section
    ************************************************/
    #banner{
        margin-top: 90px;

        .slider1{

            .bannerWrapper{

                .button{
                    font-size: 200%;
                    width: 50%;
                }

                .text{
                    font-size: 400%;
                    margin-top: 30px;
                }

            }
        }

         .slider2{

            .bannerWrapper{

                .text2{
                    font-size: 400%;
                    margin-top: 30px;
                }

                img.ibew{
                    width: 35%;
                    max-width: 300px;
                    margin-top: 25px;
                    float: left;
                }

            }
        }
    }

    /***************************************************
    Smartphone - Wrapper Section
    ***************************************************/
    .margin-fix{
        margin-top: 50px;
    }

    #wrapper{
        width: 90%;
        padding: 0 5%;

        h2{
            margin-top: -15px;
        }

        .w50-r img{
            margin-top: 0;
            margin-left: 0;
            width: 100%;
        }
    }

    #wrapper, .wrapper{
        
        .w50-r{
            margin-left: 0;
        }

    }

    /*     Smartphone - Caption Section       */
    div.divCaption{
        max-width: 400px;
        margin: 0 auto;
    }

    .vsBtn:hover{
        color: #fff;
        box-shadow: inset 605px 0 0 0 $mch-orange !important;		
    }

    /********************************************************
    Smartphone - Tech Talk Section
    *********************************************************/
    .ttBg{
        
        .tt-left{
            width: 96%;
        }

        .w50-r{
            width: 100%;
            margin-left: 0;
        }

        td, tr{
            font-size: 90%;
        }
    }

    /*********************************************************
    Smartphone Footer Section
    *********************************************************/
    footer{
        padding-bottom: 10px;

        .w50-r{
            margin-top: 20px;
            margin-left: 0;
        
            .fb, .lin{
                float: left;
            }

            .fb{
                margin-left: 0;
            }

            .lin{
                margin-right: 0;
                margin-left: 12px;
            }

        }

        .copyright{
            margin-top: 20px;
        }

    }

    /****************************************************
    Smartphone Contact Section
    *****************************************************/
    .contactForm{

        fieldset{

            button{
                width: 100% !important;
                margin-top: -15px;
            }
        }
    }
    
    .contact-response{
        margin-top: 100px !important; 
        height: 70vh;
    }
}